.interview-title {
  text-align: center;
}
.h1-title {
  margin: 0;
}

.is-hidden {
  display: none;
}

.pdf-wrapper {
  height: 100%;
}

.smallerImg {
  width: 50vw;
  margin: auto;
}

.carousel .slider-wrapper {
  width: 65%;
}

.buttonSmall {
  height: 40px;
  font-size: 20px;
  margin-right: 0;
  margin: 4px 16px;
  color: gold;
  font-family: "Oswald", sans-serif;
  background-color: black;
}

.carousel-root {
  padding-top: 5%;
}

.nav {
  margin-top: 0%;
}

.carousel .thumb {
  border: 3px solid gold;
  width: 120px !important;
}

.carousel .thumbs {
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px) !important;
}

.carousel .slide .legend {
  background: transparent;
}

.carousel .carousel-status {
  color: gold;
  font-family: "Oswald", sans-serif;
  background: transparent;
  right: 50%;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.carousel .control-next.control-arrow:before {
  border-left: 16px solid gold;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid gold;
}
.audio-player {
  display: block;
  margin: auto;
}
.artist-name {
  position: absolute;
  color: gold;
  top: 8px;
  right: 8px;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 600px) {
  .smallerImg {
    width: 100%;
  }
  .carousel .slider-wrapper {
    width: 100%;
  }
  .carousel-root {
    padding-top: 40px;
  }

  .carousel .control-dots {
    display: none;
  }
  .carousel .slide .legend {
    bottom: 0;
    padding: 0;
  }
}
