.is-hidden{
    display:none;
}

.pdf-wrapper{
    height:100%
}

.smallerImg{
    width:50vw;
    margin:auto;
}

.carousel .slider-wrapper {
    width:65%
}

.buttonSmall{
    height:40px;
    font-size: 20px;
    margin-right: 0;
    margin:16px;
}

.carousel-root{
    margin-top:5%;
}

.nav{
    margin-top: 0%;
}