/* -- Global styles -- */

body {
  margin: 0;
  padding: 0;
}

/* -- App.js styles -- */

#main-wrapper {
  display: flex;
  justify-content: space-evenly;
}

/* -- Navigation Bar styles -- */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 2rem 2rem 2rem;
}

.navText {
  text-decoration: none;
  color: gold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
}

.navText:hover {
  color: orangered;
}