body {
  margin: 0;
  padding: 0;
}

#main-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
}

.navText {
  text-decoration: none;
  color: gold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.navText:hover {
  color: orangered;
}
