@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.WholePage {
  overflow-x: hidden;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  margin-top: 3%;
  margin-left: 15vw;
  color: gold;
  font-weight: 1000;
  text-shadow: 5px;
  text-transform: uppercase;
}
button {
  margin: 0;
  padding: 0;
}
#previous {
  margin:0;
  width: auto;
  font-style: bold;
  height: 12vh;
  font-weight: 9000;
  color: gold;
  cursor: pointer;
  border-radius: 5%;
  padding: 1vw;
}
#previous:hover{
  background: rgba(0, 0, 0, 0.8);
  transition: 1s;
}
#next:hover{
  background: rgba(0, 0, 0, 0.8);
  transition: 1s;
}


#next {
  margin:0;
  width: auto;
  font-style: bold;
  height: 12vh;
  font-weight: 9000;
  color: gold;
  cursor: pointer;
  border-radius: 5%;
  padding: 1vw;
}

.ImageSlider {
  padding: 0;
  overflow: hidden;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }
}
