@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.ButtonContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 10%;
}

button{
    width: auto;
    height:6vh;
    background-color:black;
    font-family: 'Rubik', sans-serif;
    font-size:34px;
    font-weight: 900;
    color:white;
    cursor: pointer;
    border-radius: 5%;
    padding:15px 15px;
}

h1{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    margin-top: 5%;
}



