/*Previous and Next Buttons*/
.previousButton{
  width: auto;
  height: 15vh;
  background-color: black;
  font-weight: 900;
  color: goldenrod;
  cursor: pointer;
  border-radius: 5%;
  
 
}
.nextButton{
  position:relative;
  width: auto;
  height: 15vh;
  background-color: black;
  font-weight: 900;
  color: goldenrod;
  cursor: pointer;
  border-radius: 5%;

}
/*Button flex container*/
.buttonContainerPoster {
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top: 5vh;
}

