/*Previous and Next Buttons*/

button {
  margin:0;
  padding:0;
}

.previousButton{
  width: auto;
  height: 15vh;
  background-color: black;
  font-weight: 900;
  color: gold;
  cursor: pointer;
  border-radius: 5%;
}

.nextButton{
  position:relative;
  width: auto;
  height: 15vh;
  background-color: black;
  font-weight: 900;
  color: gold;
  cursor: pointer;
  border-radius: 5%;

}
/*Button flex container*/
.buttonContainerPoster {
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top: 5vh;
}

