@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
/* -- Navigation Bar styles -- */

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 6vw;
  z-index: 5;
  position: absolute;
  margin-top: 1vh;
}

#burger {
  font-size: 1.7rem;
  background-color: rgba(255, 217, 0, 0.9);
  width: 3vw;
  height:3.5vh;
  z-index: 5;
  margin-left: 0.6vw;
}

.menu-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 6vw;
  min-height: 8vh;
  z-index: 5;
  margin-top: 3vh;
}

li {
  margin-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-bottom: 1px dotted whitesmoke;
  list-style: none;
}

.navText {
    text-decoration: none;
    color: rgba(255, 215, 0, 0.9);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.navText:hover {
  color: orangered;
}

.dropdown:hover .menu-content {
  display: block;
}
