/* styling for the touch screen landing page */
body {
  text-align: center;
}

/* Big Heavy World logo styling*/
#BHW {
  z-index: 1;
  opacity: 1;
  height: 30vw;
  width: 30vw;
}

/* text styling with a blur animation that blinks*/
.info {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  font-weight: 1000;
  color: gold;
  animation: blur 1.2s ease-out infinite;
  text-decoration: none;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 30px white,
      0px 0px 40px white, 0px 0px 50px white;
  }
}
 /* styling text on landing page so link isn'y underlined after click */
#link {
  text-decoration: none;
}

#homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(black, black, white, white);
}
 /* container for the parallax scrolling effect */
#parallax-wrapper {
  z-index: 1;
  display: flex;
  height: 23vh;
  overflow: hidden;
  width: 100vw;
  align-items: flex-end;
}

/* parallax effect for crowd image, scrolls across bottom */
.parallax {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url(https://de.blog.marketo.com/content/uploads/sites/3/2019/01/GettyImages-155444736-Concert-crowd-cheering-and-watching-a-band-on-stage-blinded-by-stage-lights.gif);
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: 50s para infinite linear;
}

@keyframes para {
  100% {
    background-position: -1000px 10%;
  }
}

/* :root {
    --shadow-color: purple;
    --shadow-color-light: black;
  }
  
  .info {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
    color: antiquewhite;
    animation: neon 1s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light), 0 0 30px var(--shadow-color),
        0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
        0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color),
        0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color),
        0 0 15px var(--shadow-color), 0 0 25px var(--shadow-color),
        0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
        0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
        0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color),
        0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
        0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  } */

