/* styling for the touch screen landing page */

/* importing google font "Oswald" */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* set the background to an image of 242 main, to be displayed across all pages */
body {
  background-image: url("../../images/BHWDoor2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/* aligning all p tags to have centered text */
p {
  align-self: center;
}
/* setting the entire homepage to a flex display, z-index set to -10 to push the wrapper to the back */
#homepage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: -10;
}
/* styled the images so they space evenly across top of the page, slight padding above & below */
#header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
  z-index: 1;
}
/* styled scrolling images on bottom to a certain height, hidden overflow to eliminate side scroll */
#parallax-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 20vh;
  width: 100vw;
  align-items: flex-end;
  z-index: 1;
}
/* Interview gif, styled with a box shadow to give a halo-like appearance around image, border radius rounds the image slightly */
#BH {
  height: 40vh;
  width: 25vw;
  box-shadow: 0 0 0.8vh 0.8vw rgba(255, 217, 0, 0.5);
  border-radius: 5%;
}
/* styled text with imported Oswald font, transformed to all uppercase, positioned on top of image */
.interview-text {
  position: absolute;
  top: 85%;
  left: 18%;
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 150%;
  text-transform: uppercase;
}
/* tim snow photo, styled with a box shadow to give a halo-like appearance around image, border radius rounds the image slightly */
#Tim-Snow {
  height: 40vh;
  width: 25vw;
  box-shadow: 0 0 0.8vh 0.8vw rgba(255, 217, 0, 0.5);
  border-radius: 5%;
}
/* styled text with imported Oswald font, transformed to all uppercase, positioned on top of image */
.tim-snow-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 150%;
  text-transform: uppercase;
}
/* 242 main door photo, styled with a box shadow to give a halo-like appearance around image, border radius rounds the image slightly */
#BHW {
  height: 40vh;
  width: 25vw;
  box-shadow: 0 0 0.8vh 0.8vw rgba(255, 217, 0, 0.5);
  border-radius: 5%;
}
/* styled text with imported Oswald font, transformed to all uppercase, positioned on top of image */
.about-text {
  position: absolute;
  top: 85%;
  left: 81%;
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 150%;
  text-transform: uppercase;
}

/* text styling with a blur animation that flashes*/
.info {
  width: max-content;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1vw;
  text-align: center;
  font-weight: 1000;
  font-family: "Oswald", sans-serif;
  color: gold;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5vh 0.5vw rgba(255, 217, 0, 0.5);
  border-radius: 20%;
  animation: blur 1.2s ease-out infinite;
}
/* animation for the blur effect, multiple text shadows with increasingly larger pixels makes the effect larger */
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px gold, 0px 0px 20px gold, 0px 0px 30px gold,
      0px 0px 40px gold, 0px 0px 50px gold;
  }
}

/* styling text on landing page so link isn't underlined after click */
#link {
  text-decoration: none;
  color: gold;
}

/* parallax effect for posters, scrolls across bottom */

.parallax-footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 35vh;
  width: 100%;
  background-image: url("../../images/PosterScroll.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: 50s para infinite linear;
}
/* animation for the side scroll effect, pixels adjusts the speed of the scroll */
@keyframes para {
  100% {
    background-position: -1500px 20%;
  }
}

@media all and (max-width: 500px) {
  /* text styling with a blur animation that blinks*/
  .info {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    font-weight: 1000;
    font-family: "Oswald", sans-serif;
    color: gold;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.5vh 0.5vw rgba(255, 217, 0, 0.5);
    border-radius: 20%;
    animation: blur 1.2s ease-out infinite;
  }

  .tim-snow-text {
    position: absolute;
    top: 85%;
    left: 55%;
    max-width: 25%;
    transform: translate(-50%, -50%);
    font-family: "Oswald", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 75%;
    text-transform: uppercase;
  }
  .interview-text {
    position: absolute;
    top: 85%;
    left: 24%;
    transform: translate(-50%, -50%);
    font-family: "Oswald", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 75%;
    text-transform: uppercase;
  }

  .about-text {
    position: absolute;
    top: 85%;
    left: 88%;
    transform: translate(-50%, -50%);
    font-family: "Oswald", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 75%;
    text-transform: uppercase;
  }

  #BH {
    height: 30vh;
    width: 29vw;
    box-shadow: 0 0 0.8vh 0.8vw rgba(255, 217, 0, 0.5);
    border-radius: 5%;
  }

  #Tim-Snow {
    height: 30vh;
    width: 29vw;
    box-shadow: 0 0 0.8vh 0.8vw rgba(255, 217, 0, 0.5);
    border-radius: 5%;
  }

  #BHW {
    height: 30vh;
    width: 29vw;
    box-shadow: 0 0 0.8vh 0.8vw rgba(255, 217, 0, 0.5);
    border-radius: 5%;
  }

  .parallax-footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -3%;
    margin: 0;
    padding: 0;
    z-index: -1;
    height: 35vh;
    width: 100%;
    background-image: url("../../images/PosterScroll.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: 50s para infinite linear;
  }
}
