/* styling for the touch screen landing page */
body {
  /* text-align: center; */
  background-image: url("../../images/BHWDoor2.png");
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin-top: 18vh;
  display: flex;
  align-self: center;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  padding-top: 2vh;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
}

#BH {
  flex-shrink: 0;
  height: 30vh;
  width: 15vw;
  border: 10px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 10px 10px rgba(255, 217, 0, 0.5);
  border-radius: 30%;
}

.interview-text {
  position: absolute;
  top: 125%;
  left: 17%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 120%;
}

#Tim-Snow {
  height: 30vh;
  width: 15vw;
  border: 10px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 10px 10px rgba(255, 217, 0, 0.5);
  border-radius: 30%;
}

.tim-snow-text {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 90%;
}

#BHW {
  height: 30vh;
  width: 15vw;
  border: 10px solid transparent;
  background-color: black;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 10px 10px rgba(255, 217, 0, 0.5);
  border-radius: 30%;
}

.about-text {
  position: absolute;
  top: 125%;
  left: 83.5%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 100%;
}

/* text styling with a blur animation that blinks*/
.info {
  text-transform: uppercase;
  font-size: 75px;
  text-align: center;
  font-weight: 1000;
  font-family: sans-serif;
  color: goldenrod;
  border: 10px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(255, 217, 0, 0.5);
  border-radius: 20%;
  animation: blur 1.2s ease-out infinite;
  text-decoration: none;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px white, 0px 0px 20px black, 0px 0px 30px black,
      0px 0px 40px black, 0px 0px 50px black;
  }
}

/* styling text on landing page so link isn'y underlined after click */
#link {
  text-decoration: none;
  color: whitesmoke;
}

#homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}
/* container for the parallax scrolling effect */

/* parallax effect for posters, scrolls across bottom */

#parallax-wrapper-bottom {
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 27.9vh;
  overflow: hidden;
  width: 100vw;
  align-items: flex-end;
}

.parallax-footer {
  display: flex;
  flex-direction: row;
  z-index: -1;
  height: 26vh;
  width: 100%;
  background-image: url("../../images/Posters6.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: 50s para infinite linear;
}

@keyframes para {
  100% {
    background-position: -1500px 20%;
  }
}

.posters-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
}
